<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Pet Form</title>
    <%- include('partials/style') %>
</head>
<body>
    <%- include ('./partials/navbarAdm')  %>
   
    <div class="container mx-auto">

        <form method="POST" action="/admin/edit/<%= data.id%>">
            <label>Pet Name : </label><br>
            <input type="text" name="name" placeholder="e.g. Johny Koplo" value="<%=data.name%>"  ><br>
            <label> Pet Type : </label><br>
            
            <select name="type">
                <option value="dog"   > Dog </option>
                <option value="cat"   > Cat </option>
            </select>
            <br>
    
    
            <label> Is Independent </label><br>
            <input type="radio" id="male" name="isIndependent" value=true   <%= data.isIndependent==true ? "checked" : "" %>>
    
            <label for="male">Yes</label>
            <input type="radio" id="female" name="isIndependent" value=false <%= data.isIndependent==false ? "checked" : "" %> >
    
            <label for="female">No</label><br>
            <label> Is Spacious</label><br>
    
            <input type="radio" id="male" name="isSpacious" value=true <%= data.isSpacious==true ? "checked" : "" %>  >
            <label for="male">Yes</label>
    
            <input type="radio" id="female" name="isSpacious" value=false <%= data.isSpacious=false ? "checked" : "" %>>
            <label for="female">No</label><br>
    
            <label> Is Friendly</label><br>
            <input type="radio" id="male" name="isFriendly" value=true  <%= data.isFriendly==true ? "checked" : "" %>   >
            <label for="male">Yes</label>
    
            <input type="radio" id="female" name="isFriendly" value=false <%= data.isFriendly==false ? "checked" : "" %>>
            <label for="female">No</label><br>
            
            <label> Picture Url:</label><br>
            <input type="text" name="picture" value="<%= data.picture%>"><br>
    
            
    
            <label> Gender : </label><br>
            <input type="radio" id="male" name="gender" value="Male"  <%= data.gender=="Male" ? "checked" : "" %>   >
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="Female" <%= data.gender=="Female" ? "checked" : "" %>  >
            <label for="female">Female</label><br>
    
            <label> Age: </label><br>
            <input type="number" name="age" value="<%=data.age%>"><br>
    
            <label> Contact Number: </label><br>
            <input type="text" name="contactNumber" value="<%= data.contactNumber%>"><br>
    
            <label>Description</label><br>
            <textarea name="description" placeholder="describe your beloved partner..."><%= data.description%></textarea><br>
            <input type="submit">
        </form>
    </div>


</body>
</html>